APP_NAME="CDR Teste"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_TIMEZONE=America/Sao_Paulo
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
SESSION_SECURE_COOKIE=false
SESSION_DRIVER=database
SESSION_ENCRYPT=true
DB_CONNECTION=mariadb
DB_HOST=db
DB_PORT=3306
DB_DATABASE=cdr_teste
DB_USERNAME=cdr_teste
DB_PASSWORD=troque-por-uma-senha-forte
QUEUE_CONNECTION=database
DB_QUEUE_RETRY_AFTER=3700
CACHE_STORE=database
FILESYSTEM_DISK=local
MAIL_MAILER=log
